body {
  background-image: url("bulldog.jpg");
  background-repeat: no-repeat;
  background-position: relative;
  background-size: cover;
  background-attachment: scroll;
  background-color: #f0ecee;
  font-family: "Fira Sans", sans-serif;
  margin: 10px 50px;
}

* {
  padding: 0px;
  margin: 0px;
}
/* NavBar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  flex-wrap: wrap;
  background-color: #f0ecee;
  color: #88898b;
}
ul li {
  desplay: flex;
  align-items: center;
}
.nav-title {
  background-color: #f0ecee;
  padding: 10px 10px 10px 10px;
  text-align: left;
  font-size: 22px;
  text-emphasis: none;
}

.adoptB {
  color: black;
}

.meR {
  color: #ff4850;
}
.navButton {
  padding: 10px;
  color: #f0ecee;
  background-color: #ff4850;
  border-radius: 6px;
  height: 50px;
  font-size: 20px;
}
.navButton:hover {
  color: #ff4850;
  background: #ccc;
  font-weight: 600;
}
.nav-menu ul {
  display: flex;
  justify-content: flex-end;
}

.nav-menu ul li {
  display: flex;
  padding: 10px 10px;
  list-style-type: none;
  color: #88898b;
  align-items: center;
}
.nav-menu ul li:hover {
  color: #ff4850;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: #88898b;
  font-size: 18px;
}

a:hover {
  background: #f0ecee;
  color: #ff4850;
  font-weight: 300;
}
/* body */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  max-width: 550px;
}

.content {
  font-size: 18px;
  font-weight: 600;
  max-width: 550px;
  font-weight: 400;
}

.content span {
  color: #ff4850;
}

.line {
  font-size: 20px;
  color: #88898b;
  padding-top: 20px;
}

.howButton {
  background-color: #ff4850;
  color: #f0ecee;
  align-self: flex-start;
  padding: 15px 60px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 170px;
  margin-top: 40px;
}
.howButton:hover {
  color: #ff4850;
  background: #ccc;
}

@media only screen and (max-width: 768px) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  .nav-menu {
    width: 100vw;
  }
  .container {
    justify-content: flex-start;
    width: 100vw;
  }
  .content {
    width: 70vw;
    padding-top: 25px;
  }
  .navButton {
    width: 100vw;
  }
  .nav-menu ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .howButton {
    width: 100vw;
  }
}
