*{
    border: red solid 1px
}

body{
    background-image: url("bulldog.jpg");
    background-repeat: no-repeat;
    position: relative;
    background-attachment: scroll;
    background-color: #F0ECEE;
    font-family: 'Fira Sans', sans-serif;
}

/* navBar */
/* a.logo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    ;
}
h3:nth-of-type(1){
    display: flex;
    margin-top: 20%
    color: black;

}
h3.blackAdopt{
    color: black;
}
h3.redMe{
    color: #FF4850; */

/* } */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.nav {
    display: flex;
    /* justify-content: space-between */
    
    /* flex-direction: row; */
    
    /* justify-content: flex-end; */
    align-items: center;
    height: 70px;
    flex-wrap: wrap;
    background-color: #F0ECEE;
    color: #88898B;
    /* justify-content: space-around; */
    /* margin-left: 30%; */
    /* justify-content: space-around; */
}
.nav-title{
    /* display: flex; */
    /* flex: 1;
    padding-right: 200px */
    background-color: #F0ECEE;
    width: 30%;
    padding: 10px 10px 10px 10px;
    text-align: left;
    /* padding-left: 15px; */
    
    /* padding: 50px */
    
    /* padding-left: 15px; */
}

.adoptB{
    color: black;
}

.meR{
    color: #FF4850;
}

.nav-menu{
    /* display: flex; */
    width: 70%;
    
    /* justify-content: space-between */
    /* flex-direction: row */
    /* align-items: center; */

    
}

.nav-menu ul {
    display: flex;
    justify-content: flex-end;
}

.nav-menu ul li {
    padding: 10px 10px;
    list-style-type: none;
    color: #88898B;
    
}
.nav-menu ul li:hover{
    color: #FF4850;


}

a{
    text-decoration: none;
    color: #88898B;
}

a:hover{
    background: #F0ECEE;
    color: #FF4850;
    font-weight: 300;
}

 @media and (min-width: 768px){
    .nav{
        height: auto;
    }
    .nav .nav-title{
    text-align: left;
    width:100%;
    }
    .nav .nav-menu{
    width: 100%;
    }
    .nav .nav-menu ul{
    justify-content: space-around;
    }
    .nav .nav-menu ul li{
    width: 20%;
    padding: 10px 10px;
    text-align: center;

    }
}


/* .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    justify-content: flex-end;
} */
/* .prt{
    display: flex;
    justify-content: space-between;
    flex: 1;
}


.menu{
    display: flex;
    justify-content: ;
    /* align-items: baseline */
    
/* } */ 




/* a {
    display: flex;
    color: #88898B;

}

button.linkbutton{
    color: #F0ECEE;
    background: #FF4850;
    padding: 10px;
    border-radius: 10px;
    font-weight: 400;
}
button.linkbutton:hover{
    background: #CCC;
    color: #FF4850;
}

aside{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: auto;

}
aside.h1{ 
    display: flex;
    flex-grow:3;
    font-weight: 600px;
}
 */


/* .navBar > ul{
    display: flex;
    flex-grow: 1;
    flex-basis: auto;
} */
/* .logo{
    display: flex;
    flex-grow: 1; 
    flex-basis: auto;
} */
/* .link{
    display: flex;
} */
/* .linkbutton{
    display: flex;
} */
/* .link  .linkbutton{
    display: flex;
    margin-right: 5px;
} */


/* ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    /* color: 88898B; */
/* } */  







/* body {
    background-color: #F0ECEE;
    background-image: url("bulldog.jpg");
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas:
    "nav nav"
    "banner banner"
    "img p"
}



nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.banner {
    grid-area: banner;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("sunset-banner.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;




.button {
    background-color: #FF4850;
    color: white;
    padding: 10px;
    border-radius: 15px;
}

a {
    color: #88898B;
}

h4 {
    color: #88898B;
}

.navbar {
    display: flex;
}
.logo{
    flex: 1;
}
li{
    flex: 2;
}
navBar
logo
banner
button

.navBar {
    display: flex;
}  */